.header{

    width: 100%;
    background-color: $color-white;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    box-shadow: -15px 10px 25px 5px rgba(146, 104, 104, 0.04);

    &__brand,&__primary-nav,&__secondary-nav{

        float: left;
    }

    &__brand{

        width: 20%;

        &--link{

            text-decoration: none;

            &-logo{

                width: 50px;
                border: solid 3px $color-white
            }
        }
    }

    &__primary-nav{

        width: 55%;
        text-align: left;
        padding-left: 10%;

        &--nav{

            width: 100%;

            &-link{

                margin-right: 2%;
                font-size: 1.5rem;
                display: inline-block;
                text-decoration: none;
            }
        }

        
    }

    &__secondary-nav{

        width: 25%;
        text-align: left;

        &--nav{

            width: 100%;

            &-link{

                width: 30%;
                &-cirlce{

                    display: inline-block;
                    width: 15px;
                    height: 15px;
                    background-color: $color-primary;
                    margin-right: 25px;
                }
                &-text{
                    display: inline-block;
                    font-size: 1.8rem;
                }
            }
        }
    }
}