

.carousel{

    max-width: 1000px;

    &__item{

        position: absolute;
        width: 200px;
        height: 250px;
        box-shadow: -15px 10px 25px 5px rgba(146, 104, 104, 0.04);

        &--fig{

            width: 200px;
            height: 150px;
            background-color: $color-primary;
            clip-path: polygon(0 0, 100% 1%, 100% 100%, 1% 89%);

            &-img{

                height: 120px;
                width: 200px;
            }
        }
    }

    &__item-num_1{

        left: 5%;
        transform: translateX(-15%);
    }
    &__item-num_2{

        left: 25%;
        transform: translateX(-25%);
    }
    &__item-num_3{

        left: 50%;
        width: 250px;
        height: 300px;
        transform: translateX(-50%);
       

        figure{

            width: 250px;
            height: 180px;

            img{

                height: 150px;
                width: 250px;
            }
        }
    }
    &__item-num_4{

        left: 65%;
        transform: translateX(-20%);
    }
    &__item-num_5{

        left: 80%;
       
    }

}