

.carousel{

    max-width: 1000px;

    &__item{

        position: absolute;
        width: 200px;
        height: 250px;
        box-shadow: -15px 10px 25px 5px rgba(11, 10, 10, 0.1);
        border-radius: 15px;
        margin-top: 50px;

        &--fig{

            width: 200px;
            height: 150px;
            background-color: $color-primary;
            clip-path: polygon(0 0, 100% 1%, 100% 100%, 1% 89%);
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;

            &-img{

                height: 120px;
                width: 200px;
                border-top-right-radius: 15px;
                border-top-left-radius: 15px;
            }
        }
        &--content{

            &-head{
    
                text-align: center;
                font-weight: normal;
                font-size: 1.5rem;
                margin-top: 30px;
            }
        }
    }

    &__item-num_1{

        left: 5%;
        transform: translateX(-15%);
    }
    &__item-num_2{

        left: 25%;
        transform: translateX(-25%);
    }
    &__item-num_3{

        left: 50%;
        width: 250px;
        height: 400px;
        transform: translateX(-50%);
        margin-top: -30px;


       

        figure{

            width: 250px;
            height: 180px;

            img{

                height: 150px;
                width: 250px;
            }
        }

        div{

            h4{

                text-align: center;
                font-weight: normal;
                font-size: 1.8rem;
                margin-top: 50px;
            }
        }

        section{

            position: relative;
            bottom: 0;
            background-color: $color-primary;
            width: 100%;
            border: 2px 0 2px 0;

            button{

                border: none;
                background-color: transparent;
                color: $color-white;
                text-align: center;
                display: inline-block;

                &::after{

                    content: '';
                }
            }

        }
    }
    &__item-num_4{

        left: 65%;
        transform: translateX(-20%);
    }
    &__item-num_5{

        left: 80%;
       
    }



}